# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
