services:
  db:
    image: postgres:16
    container_name: courses_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - courses_pgdata:/var/lib/postgresql/data

volumes:
  courses_pgdata:
