{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Courses{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/css/app.css' %}">
</head>
<body>
  <header class="topbar">
    <div class="topbar-inner">
      <a class="brand" href="{% url 'shopping_lists' %}">Courses</a>

      <nav class="nav">
        
        <a href="{% url 'my_households' %}">Foyers</a>
	<a href="{% url 'shopping_lists' %}">Listes</a>
        <a href="{% url 'receipt_list' %}">Tickets</a>

        {% if user.is_staff %}
          <a href="{% url 'receipt_purge' %}">Purge</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <main class="container">
    {% if messages %}
      <div class="card">
        {% for message in messages %}
          <div class="muted">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>
</body>
</html>
